header {
  background-color: black;
  color: white;
  padding: 20px;
}

.main-content {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  width: 100%;
}

.subheader {
  text-align: center;
}